.container {
  max-width: 320px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    max-width: 1204px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
