.header {
  background-color: white;
  border-bottom: 1px solid rgba(18, 20, 23, 0.1);
  padding: 20px 0;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #121417;
}

.links {
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: #121417;
  font-weight: 500;
  transition: color 0.2s;
}

.link:hover {
  color: #f4c550;
}

.authButtons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.userName {
  font-weight: 500;
  color: #121417;
}

.loginButton,
.logoutButton {
  padding: 12px 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #121417;
  transition: color 0.2s;
}

.loginButton:hover,
.logoutButton:hover {
  color: #f4c550;
}

.registerButton {
  padding: 12px 24px;
  border: none;
  background-color: #121417;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.2s;
}

.registerButton:hover {
  background-color: #2c2f35;
}
