.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal.default {
  max-width: 566px;
}

.modal.large {
  max-width: 600px;
  padding: 64px 48px;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal {
  position: relative;
  background-color: white;
  border-radius: 12px;
  padding: 64px;
  max-width: 566px;
  width: 90%;
  /* max-height: 90vh; */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

  animation: slideUp 0.3s ease;
  margin: auto; /* ⭐ Центрування */
  min-height: min-content; /* ⭐ Мінімальна висота за контентом */
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  font-size: 32px;
  line-height: 1;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeIcon {
  stroke-width: 2.5px;
  stroke: #121417;
}

.closeButton:hover {
  color: #f4c550;
}

.modal::-webkit-scrollbar {
  width: 8px;
}

.modal::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
}
